<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <% include partials/_logo %>
      <a href="/urls/new">
        <div class="shrinklink">
        Click to shrink a URL
        </div>
      </a>
      <br>
      <div class="masterlist">
        <table>
          <% for (key in urls) { %>
            <tr>
              <td><a class="internal-link" href="/u/<%= `${key}` %>"><strong>localhost:8080/u/<%= `${key}` %></strong></a></td>
              <td>→</td>
              <td class="left-force"><a href="<%= `${urls[key]}` %>"><%= `${urls[key]}` %></a></td>
              <td><form method="GET" action="/urls/<%= key %>"><button class="btnsafe" type="submit">⚙</button></form></td>
              <td><form method="POST" action="/urls/<%= key %>/delete"><button class="btncaution" type="submit">🗑</button></form></td>
            </tr>
          <% }; %>
        </table>
      </div>
    </div>

  </body>
</html>