<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <div>
      <% include partials/_h1 %>
      <div>
        <a style="font-size: 1.3em" href="/urls/new"><button class="btnbig" type="submit">Click here shrink a URL</button></a>
      </div>
      <div>
        <h4><em>Have a look at some URLs we already shortened:</em></h4>
        <table>
          <% for (key in urls) { %>
              <tr>
                <td><strong><%= `${key}` %></td>
                <td> → </td>
                <td><a href="<%= `${urls[key]}` %>"><%= `${urls[key]}` %></a></td>
                <td><form method="GET" action="/urls/<%= key %>"><button class="btnsafe" type="submit">⚙ Modify</button></form></td>
                <td><form method="POST" action="/urls/<%= key %>/delete"><button class="btncaution" type="submit">🗑 Delete</button></form></td>
              </tr>
          <% }; %>
        </table>
      </div>
    </div>

  </body>
</html>