<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <a href="/"><% include partials/_logo %></a>
    <div class="formtemplate">
      <h2>Shrunken! →
        <a class="links-nodec" href="http://localhost:8080/u/<%= shortURL %>"> http://localhost:8080/u/<%= shortURL %></a>
      </h2>
      <h4>Full URL: <%= `${urls[shortURL]}` %></h4>
      <div>
        <form method="POST" action="/urls/<%= `${shortURL}` %>">
          <input class="text-field" autofocus="autofocus" autocomplete="off" id="longURL" type="text" name="longURL" value="<%= `${urls[shortURL]}` %>">
          <button class="btnsafe btnbig" type="submit">🔗 Update Link</button>
        </form>
      </div>
    </div>
    <h4><a class="links-nodec" href="/urls" style="font-size: 1.5em">CLICK</a> to return to your shrunken URLs list</h4>
  </body>
</html>
